.nav_letter {
    font-size: 12px;
    font-family: "Reaver",serif;
    font-weight: 600;
    letter-spacing: 3px;
    opacity: .8;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 0px;
    margin: 0px 20px;
    text-transform: uppercase;
    border-top: 3px solid rgba(0,0,0,0);
    border-bottom: 3px solid rgba(0,0,0,0);
}

.letter_main {
    font-weight: 700;
    font-size: 50px;
    color: #e2dace;
    letter-spacing: 2px;
    line-height: 105%;
    text-align: center;
    font-family: "Reaver",serif;
    color: rgba(255,255,255,.9333333333);
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}

.letter_standart2 {
    font-weight: 100;
    font-size: 25px;
    color: #fff5e6;
    letter-spacing: 2px;
    line-height: 105%;
    text-align: center;
    font-family: "Reaver",serif;
    text-shadow: 0px 0px 20px #000;
}

h2 {
    padding-top: 60px;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 105%;
    text-align: center;
    font-family: "Reaver",serif;
    color: rgba(255,255,255,.9333333333);
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}
h1 {
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 105%;
    text-align: center;
    font-family: "Reaver",serif;
    color: rgba(255,255,255,.9333333333);
    text-transform: uppercase;
    text-shadow: 0px 0px 20px #000;
}

p {
    font-weight: 100;
    font-size: 35px;
    letter-spacing: 2px;
    line-height: 105%;
    text-align: center;
    font-family: "Reaver",serif;
    color: rgba(255,255,255,.9333333333);
    text-shadow: 0px 0px 20px #000;
}